
.header{
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow:0 0 5px 0 gray ;
}

.link :hover{
   background-color: rgb(55, 65, 81/var(--tw-bg-opacity));
   --tw-bg-opacity:0.55;
}