@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    width: 100%;
    z-index: 10;
    background-image: url('/static_images/screenshot_1716788088.png');
    background-size:cover;
    height: 300px;
}

